
body {
  font-size: 1em;
}

button {
  font-size: 80%;
  margin: 1em 1em 0 0.5em;
  padding: 0.5em 1em;
  text-align: center;
}

fieldset {
  margin: 0;
  padding: 0;
  width: 100%;
}

fieldset p {
  text-align: center;
  width: 100%;
}

form {
  border: none;
  margin: 0 auto;
  padding: 0;
  width: 98%;
}

h1 {
  text-align: center;
}

input {
  margin: 0 1em 0 0;
}

/* custom button styles */
span { 
  background: white;
  border: 1px black solid;
  padding: .2em;
  margin: 0 auto;
}

span:hover {
  cursor: pointer;
}

/* table styles */
table {
  background: #eee;
  border: 2px solid #888;
  margin: 1em auto;
  padding: 0.5em;
  width: 98%;
}

tr, th, td {
  background: #cfc;
  border: 1px solid #0f0;
  margin: 0;
}

tr {
  max-width: 52em;
}

td {
  padding: 1em;
}

th {
  background: white;
  border: 0;
  font: 1em normal;
  padding: 0.2em;
}

.status-col {
  width: 4em;
}

.manage-col {
  min-width: 8em;
  text-align: center;
}

.name-col {
  width: 40%;
/*  max-width: 20em;
  min-width: 4em;*/
}

.category-col {
  width: 20%;
/*  max-width: 14em;
  min-width: 4em;
*/
}

.length-col {
  width: 4em;
}